.radar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-self: center;
}

.radar2 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-self: center;
}